#theme {
  display: none;
  &:checked ~ .App {
    filter: invert(1);
  }
}

.App {
  width: 100%;
  max-height: 100vh;
  background: white;
}

.main {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

// ------------- AUTH ----------
@import './styles/auth.scss';
